[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-runner = "~=1.4.7"
ansible-runner-http = "==1.0.0"
ipaddress = "==1.0.23"
openshift = "~=0.13.0"
jmespath = "==0.10.0"
cryptography = "==39.0.1"
ansible-core = "~=2.11.0"
oauthlib = "==3.2.1"

[dev-packages]

[requires]
python_version = "3.8"
