[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-runner = "~=1.4.7"
ansible-runner-http = "==1.0.0"
ipaddress = "==1.0.23"
jmespath = "==0.10.0"
cryptography = "==3.3.2"
ansible-core = "~=2.11.0"
oauthlib = "==3.2.1"
requests = "<2.29.0"


[dev-packages]

[requires]
python_version = "3.8"
