language: go
go_import_path: github.com/operator-framework/operator-sdk
sudo: required

go:
- 1.10.3

before_install:
  - |
      if [ "$TRAVIS_COMMIT_RANGE" != "" ] && ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md)|(\.MD)|(\.png)|(\.pdf)|^(doc/)|^(MAINTAINERS)|^(LICENSE)'; then
        echo "Only doc files were updated, not running the CI."
        exit
      fi

jobs:
  include:
    - before_script: hack/ci/setup-openshift.sh
      env: CLUSTER=openshift
      script: make test/ci-go
      name: Go on OpenShift
      services:
      - docker
    - before_script: hack/ci/setup-openshift.sh
      env: CLUSTER=openshift
      script: make test/ci-ansible
      name: Ansible on OpenShift
      services:
      - docker
    - before_script: hack/ci/setup-openshift.sh
      env: CLUSTER=openshift
      script: make test/ci-helm
      name: Helm on OpenShift
      services:
      - docker
    - name: Markdown Link Checker
      language: bash
      before_install: true
      install: true
      after_success: echo 'Markdown links are correct'
      after_failure: echo 'Incorrect markdown link detected'
      script: ./hack/ci/marker --root=./doc

install:
- curl -Lo dep https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64 && chmod +x dep && sudo mv dep /usr/local/bin/
- dep ensure
- make install
- sudo pip install ansible

after_success:
- echo "Build succeeded, operator was generated, memcached operator is running on $CLUSTER, and unit/integration tests pass"

after_failure:
- echo "Build failed, operator failed to generate, memcached operator is not running on $CLUSTER, or unit/integration tests failed"
- kubectl get all --all-namespaces
- kubectl get events --all-namespaces --field-selector=type=Warning
