language: go
go_import_path: github.com/operator-framework/operator-sdk
sudo: required

services:
- docker

go:
- 1.10.1

jobs:
  include:
    - before_script: hack/ci/setup-minikube.sh
      env:
        - CLUSTER=minikube
        - CHANGE_MINIKUBE_NONE_USER=true
    - before_script: hack/ci/setup-openshift.sh
      env: CLUSTER=openshift

install: 
- curl -Lo dep https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64 && chmod +x dep && sudo mv dep /usr/local/bin/
- dep ensure
# Create example operator directory
- mkdir -p $GOPATH/src/github.com/example-inc

script:
- make install
- go test ./pkg/...
- go test ./test/e2e/...
- cd test/test-framework
# test framework with defaults
- operator-sdk test -t .
# test operator-sdk test flags
- operator-sdk test -t . -g deploy/crd.yaml -n deploy/namespace-init.yaml -f "-parallel 1" -k $HOME/.kube/config
# go back to project root
- cd ../..
- go vet ./...
- ./hack/check_license.sh
- ./hack/check_error_case.sh
# Make sure repo is in clean state
- git diff --exit-code

after_success:
- echo 'Build succeeded, operator was generated, memcached operator is running on $CLUSTER, and unit/integration tests pass'

after_failure:
- echo 'Build failed, operator failed to generate, memcached operator is not running on $CLUSTER, or unit/integration tests failed'
