language: go
go_import_path: github.com/operator-framework/operator-sdk
sudo: required

services:
- docker

go:
- 1.10.1

env:
- CHANGE_MINIKUBE_NONE_USER=true

before_script:
- go get -u github.com/golang/dep/cmd/dep
- dep ensure
# Download kubectl, which is a requirement for using minikube.
- curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.9.0/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
# Download minikube.
- curl -Lo minikube https://storage.googleapis.com/minikube/releases/v0.25.2/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
- sudo minikube start --vm-driver=none --kubernetes-version=v1.9.0
# Fix the kubectl context, as it's often stale.
- minikube update-context
# Wait for Kubernetes to be up and ready.
- JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}'; until kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do sleep 1; done
# Create example operator directory
- mkdir -p $GOPATH/src/github.com/example-inc

install: 
- go get -t -d ./...

script:
- make install
- go test ./pkg/...
- go vet ./...
- go test ./test/e2e/...

after_success:
- echo 'Build succeeded, operator was generated, memcached operator is running on minikube, and unit/integration tests pass'

after_failure:
- echo 'Build failed, operator failed to generate, memcached operator is not running on minikube, or unit/integration tests failed'
- kubectl get deployment
- kubectl get pods
- kubectl describe pods
