os: linux
language: go
go_import_path: github.com/operator-framework/operator-sdk
dist: xenial

# Python 3.6 is the default Python when language: python.
# But when not language: python, Python 3 can not be used by default.
# There is pip (/usr/bin/pip), but not pip3.
# Because of it the global env is required.
env:
  global:
    - PATH=/opt/python/3.6.7/bin:$PATH

# Install python3 and utilities dependencies
addons:
  apt:
    packages:
      - "python3"
      - "python3-pip"

cache:
  directories:
    - $HOME/.cache/go-build

go:
- 1.15.x

# The `x_base_steps` top-level key is unknown to travis,
# so we can use it to create a bunch of common build step
# YAML anchors which we use in our build jobs.
x_base_steps:
  # Base go, ansbile, and helm job
  - &test
    env:
    # before_install for jobs that require go builds and do not run for doc-only changes
    before_install:
      # hack/ci/check-doc-only-update.sh needs to be sourced so
      # that it can properly exit the test early with success
      - source hack/ci/check-doc-only-update.sh
      - git fetch origin --unshallow --tags
    after_success:
      - echo "Tests passed"
    after_failure:
      - echo "Tests failed"
      - kubectl get all --all-namespaces
      - kubectl get events --all-namespaces --field-selector=type=Warning
    services:
      - docker

  # Base deploy job
  - &deploy
    before_install:
      - git fetch origin --unshallow --tags
    after_success:
      - echo "Image build succeeded, and docker image tagged and pushed to repository"
    after_failure:
      - echo "Image build, docker image tagging, or docker image pushing to repository failed"
    services:
      - docker

  # Manifest list deploy job
  - &manifest-deploy
    before_script:
      - git fetch origin --unshallow --tags
      # TODO: remove the chmod command when docker-ce on travis is upgraded to 18.09.0+.
      # We need /etc/docker to be accessible to non-root users.
      # See https://github.com/moby/moby/pull/37847.
      - sudo chmod 0755 /etc/docker
    after_success:
      - echo "Manifest list push to registry succeeded"
    after_failure:
      - echo "Manifest list creation or push to registry failed"
    services:
      - docker

stages:
  - check
  - test
  - name: deploy
    if: type != pull_request AND ( tag IS present OR branch = master OR commit_message =~ /\[travis deploy\]/ )
  - name: deploy-manifest-multiarch
    if: type != pull_request AND ( tag IS present OR branch = master OR commit_message =~ /\[travis deploy\]/ )

jobs:
  include:

    ## Project check stage jobs ##

    # Run the sanity tests
    - stage: check
      name: Sanity Tests
      before_install:
        - git fetch origin --unshallow --tags
      script:
        - make test-sanity

    # Run website checks
    - name: Doc Checks
      script:
        - make test-links

    ## Operator test stage jobs ##

    # Build and test ansible and test ansible using molecule
    - stage: test
      <<: *test
      name: Ansible on Kubernetes
      before_script:
        - pip3 install --upgrade setuptools pip
        - pip install --user ansible~=2.9.13
      script:
        - make test-e2e-ansible test-e2e-ansible-molecule

    # Test subcommands
    - <<: *test
      name: Subcommands and Integration on Kubernetes
      script:
      - make test-e2e-integration

    # Build and test go
    - <<: *test
      name: Go on Kubernetes
      before_script:
      - (cd / && go get github.com/mattn/goveralls)
      script:
      - make test-unit
      - make test-e2e-go
      after_success:
      - $GOPATH/bin/goveralls -service=travis-ci -coverprofile=coverage.out -repotoken=$COVERALLS_TOKEN

    # Build and test helm
    - <<: *test
      name: Helm on Kubernetes
      script: make test-e2e-helm

    ## Image deploy/push stage jobs ##

    # Build and deploy arm64 docker images
    - stage: deploy
      <<: *deploy
      name: Docker images for arm64
      arch: arm64
      script:
        - make image-build-ansible image-build-helm image-build-scorecard-test image-build-scorecard-test-kuttl image-build-sdk
        - make image-push-ansible image-push-helm image-push-scorecard-test image-push-scorecard-test-kuttl image-push-sdk

    # Build and deploy amd64 docker images
    - <<: *deploy
      name: Docker images for amd64
      arch: amd64
      script:
        - make image-build-ansible image-build-helm image-build-scorecard-test image-build-scorecard-test-kuttl image-build-sdk
        - make image-push-ansible image-push-helm image-push-scorecard-test image-push-scorecard-test-kuttl image-push-sdk

    # Build and deploy ppc64le docker images
    - <<: *deploy
      name: Docker images for ppc64le
      arch: ppc64le
      script:
        - make image-build-ansible image-build-helm image-build-scorecard-test image-build-scorecard-test-kuttl image-build-sdk
        - make image-push-ansible image-push-helm image-push-scorecard-test image-push-scorecard-test-kuttl image-push-sdk

    # Build and deploy s390x docker images
    - <<: *deploy
      name: Docker images for s390x
      arch: s390x
      script:
        - make image-build-ansible image-build-helm image-build-scorecard-test image-build-sdk
        - make image-push-ansible image-push-helm image-push-scorecard-test image-push-sdk

    # Build and deploy ansible multi-arch manifest list
    - stage: deploy-manifest-multiarch
      <<: *manifest-deploy
      name: Manifest lists
      script:
        - make image-push-ansible-multiarch image-push-helm-multiarch image-push-scorecard-test-multiarch image-push-scorecard-test-kuttl-multiarch image-push-sdk-multiarch
