[[override]]
  name = "k8s.io/kubernetes"
  version = "v1.14.1"

[[override]]
  name = "k8s.io/api"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/apiextensions-apiserver"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/apiserver"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/cli-runtime"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/kube-openapi"
  revision = "a01b7d5d6c2258c80a4a10070f3dee9cd575d9c7"

[[override]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.13.1"

[[constraint]]
  name = "sigs.k8s.io/controller-runtime"
  version = "=v0.2.0-beta.1"

# TODO: bump to v0.2.0
[[override]]
  name = "sigs.k8s.io/controller-tools"
  revision = "9d55346c2bde73fb3326ac22eac2e5210a730207"

[[constraint]]
  name = "github.com/sergi/go-diff"
  version = "1.0.0"

[[constraint]]
  name = "k8s.io/helm"
  version = "=v2.14.0"

[[constraint]]
  name = "github.com/operator-framework/operator-lifecycle-manager"
  version = "0.10.1"

[[override]]
  name = "k8s.io/kube-aggregator"
  # Required for operator-lifecycle-manager version compatibility.
  version = "kubernetes-1.14.1"

[[constraint]]
  name = "github.com/sirupsen/logrus"
  version = "1.4.2"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "0.0.4"

# We need overrides for the following imports because dep can't resolve them
# correctly. The easiest way to get this right is to use the versions that
# k8s.io/helm uses. See https://github.com/helm/helm/blob/v2.14.0/glide.lock
[[override]]
  name = "github.com/russross/blackfriday"
  revision = "300106c228d52c8941d4b3de6054a6062a86dda3"

[[override]]
  name = "github.com/docker/distribution"
  revision = "edc3ab29cdff8694dd6feb85cfeb4b5f1b38ed9c"

[[override]]
  name = "github.com/docker/docker"
  revision = "a9fbbdc8dd8794b20af358382ab780559bca589d"

[prune]
  unused-packages = true
  go-tests = true
  non-go = true