# Hugo build configuration for Netlify
# (https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify)

# Default build settings
[build]
  publish = "public"
  base = "website"
  command = """
git submodule update -f --init --recursive themes/docsy && \
npm install postcss@^8.0.0 postcss-cli@^8.0.0 autoprefixer@^9.0.0 && \
./scripts/set_menu_version.sh && \
hugo version && \
hugo
"""

# "production" environment specific build settings
[build.environment]
  HUGO_ENV = "production"
  HUGO_VERSION = "0.73.0"
