[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-runner = "==1.4.6"
ansible-runner-http = "==1.0.0"
ipaddress = "==1.0.23"
openshift = "==0.11.2"
ansible = "==2.9.15"
jmespath = "==0.10.0"

[dev-packages]

[requires]
python_version = "3.8"
