[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-runner = "~=2.1.1"
ansible-runner-http = "~=1.0.0"
ipaddress = "==1.0.23"
openshift = "~=0.13.0"
ansible = "~=2.9.15"
jmespath = "==0.10.0"
cryptography = "==3.3.2"
oauthlib = "==3.2.1"

[dev-packages]

[requires]
python_version = "3.8"
