.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0rem;
    padding-top: 0.75rem;

    margin-bottom: $breadcrumb-margin-bottom;
    list-style: none;
    background-color: initial;
    margin-left: 0px;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
  }

.breadcrumb-item {
    display: -ms-flexbox;
    display: flex;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
  }
  
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: $breadcrumb-divider-color;
    content: "/";
}
  
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
}
  
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}
  
.breadcrumb-item.active {
    color: $breadcrumb-active-color;;
}