body {
    margin-top: 100px;
    @media (min-width: $ov--breakpoint--lg) {
        margin-top: 72px;
    }
}

.of-link-list {
    display: flex;
    a {
    color: var(--of--color-white--100);
    }
}

.of-link {
    &--inline {
        white-space: nowrap;
    }    
}

.of-list {
    list-style-type: disc;
    margin-left: var(--of--spacer--lg);
}

ol {
    margin-left: var(--of--spacer--md);
    list-style: none;
    counter-reset: ordered-list-counter;
 li {
  counter-increment: ordered-list-counter;
  position: relative;
  padding-left: var(--of--spacer--lg);
}
 li::before {
  content: counter(ordered-list-counter) ". ";
  position: absolute;
  left: 0;
  top: 0;
}
}
.of-section-separator {
    border-bottom: 2px solid var(--of--color-white--150);
}

.of-button {
    border-radius: var(--of--BorderRadius--sm);
    padding: var(--of--spacer--sm) var(--of--spacer--lg);
    display: inline-flex;
    border: var(--of--BorderWidth--sm) solid transparent;
    transition: all .25s linear;
    &:not(.of-button--tertiary){
        @media (min-width: $ov--breakpoint--lg) {
            padding: var(--of--spacer--md) var(--of--spacer--xl);
        }
    }
    &--primary {
        background: var(--of--color-brand--200);
        color: var(--of--color-white--100);
        &:hover,&:active,&:focus {
            color: var(--of--color-white--100);
            background: var(--of--color-brand--300);  
        }
    }
    &--secondary {
        background: rgba(255, 255, 255, .12);
        color: var(--of--color-white--100);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        &:hover,&:active,&:focus {
            color: var(--of--color-brand--200);
            background: var(--of--color-white--100); 
        }
    }

    &--tertiary {
        padding-left: 0;
        display: flex;
        align-content: center;
        max-width: max-content;
        color: var(--of--color-brand--200);
        .of-button__icon {
            margin-left: var(--of--spacer--md);
            width: 20px;
            height: 20px;
            path {
                fill: var(--of--color-brand--200);
            }
        }
        &:hover,&:active,&:focus {
            opacity: .8;
            color: var(--of--color-brand--100);
            .of-button__icon {
                path {
                    fill: var(--of--color-brand--100);
                }
            }
        }
    }
    &:hover,&:active,&:focus {
        text-decoration: none;
    }
}


.of-section-page-develop {
    & > .of-heading {
        color: var(--of--color-brand--100);
        padding: var(--of--spacer--lg);
    @media (min-width: $ov--breakpoint--lg) {
        padding:var(--of--spacer--2xl) var(--of--spacer--3xl) var(--of--spacer--md);
    }
    }
    
}

.of-section-whats-operator {
    padding: var(--of--spacer--lg);
    @media (min-width: $ov--breakpoint--lg) {
        padding:var(--of--spacer--xl) var(--of--spacer--3xl);
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'content video';
        grid-gap: var(--of--spacer--sm);
    }
    .of-heading {
        color: var(--of--color-brand--100);
    }
    &__content{
        grid-area: content;
        & *:not(.of-button) {
            margin-bottom: var(--of--spacer--md);
        }
    }
    &__video {
        grid-area: video;
    }

}

.of-section__contribute {
    padding: var(--of--spacer--lg);
    display: grid;
    gap: var(--of--spacer--xl);
    @media (min-width: $ov--breakpoint--lg) {
    grid-template-columns: 1fr 4fr;
    align-items: start;
    gap: var(--of--spacer--2xl);
    padding: var(--of--spacer--3xl);
    &__content {
        max-width: 60vw;
    }
    }
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    &__header {
        justify-self: start ;
        padding:var(--of--spacer--sm) var(--of--spacer--md);
        display: inline-flex;
        align-items: center;
        border: 3px solid var(--of--color-brand--300);
        .of-heading {
            color: var(--of--color-brand--300);
            text-transform: uppercase;
            font-weight: 800;
            margin: 0;
        }
        svg {
            margin-left: var(--of--spacer--md);
        }
    }
    
}

.of-section--largetext {
    padding: var(--of--spacer--lg);
    
    @media (min-width: $ov--breakpoint--lg) { 
    padding: var(--of--spacer--2xl) var(--of--spacer--3xl);
    margin: 0 auto;
    max-width: 1200px;
    }
    .of-heading {
        text-transform: uppercase;
        color: var(--of--color-brand--200);
    }
    &__item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'text'
        'title'
        'content'
        'action';
        margin-top: var(--of--spacer--md);
        @media (min-width: $ov--breakpoint--lg) {  
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content;
            margin: calc(var(--of--spacer--2xl) * 2) 0 calc(var(--of--spacer--3xl) * 2);
            column-gap: var(--of--spacer--xl);
            grid-template-areas:
            'title text'
            'content text'
            'action text'
            ;
            &:nth-of-type(odd) {
                & > *:not(.large-text) {
                    margin-right: var(--of--spacer--lg);
                }
            }
            &:nth-of-type(even) {
                grid-template-areas:
                'text title'
                'text content'
                'text action'
                ;
                & > *:not(.large-text) {
                    margin-left: var(--of--spacer--lg);
                }
                .large-text {
                    justify-self: end;
                }
            }
        }
        
        &:nth-of-type(1){
            .of-heading {
                color: var(--of--color-brand--100);
            }
            .large-text {
                color: var(--of--color-brand--100);
            }
        }
        &:nth-of-type(2){
            .of-heading {
                color: var(--of--color-brand--200);
            }
            .large-text {
                color: var(--of--color-brand--200);
            }
        }
        &:nth-of-type(3){
            .of-heading {
                color: var(--of--color-brand--300);
            }
            .large-text {
                color: var(--of--color-brand--300);
            }
        }
        .of-heading {
            margin-bottom: var(--of--spacer--md);
            grid-area: title;
        }
        .of-section--largetext__content {
            grid-area: content;
            @media (min-width: $ov--breakpoint--lg) {
            max-width: 550px;
            }
        }
        .of-button {
            grid-area: action;
        }
        .large-text {
            color: var(--of--color-brand--100);
            
            font-weight: 800;
            @media (min-width: $ov--breakpoint--lg) {
            text-transform: uppercase;
            justify-self: start;
            text-align: right;
            grid-area: text;
            font-size: 5rem;
            margin-top: var(--of--spacer--md);
                span {
                    width: 100%;
                    display: block;
                    line-height: 0;
                    margin-bottom: calc(var(--of--spacer--2xl) *2.25);
                }
            }
            
        }
    }
    
}

.of-docs-list {
    padding: var(--of--spacer--3xl);
}

.of-masthead--subpage {
    background: var(--of--color-black--100) url("/build/images/bg-masthead-SDK.svg") no-repeat;
    background-size: 250px;
    background-position: 115% 0;
    min-height:135px;
    display: flex; 
    align-items: center;
    padding: 0 var(--of--spacer--lg);
    @media (min-width: $ov--breakpoint--lg) {
        background-size: 400px auto;
        background-position: right -85px;
        padding: 0 calc(var(--of--spacer--2xl) + var(--of--spacer--xl));
    }
    
    
}

.of-masthead {
    .of-heading {
        color: var(--of--color-white--100);
    }
}

.of-capability-content, .of-capability-level__item {   
    width: 100%;
    padding: 0 var(--of--spacer--xl);
    
    @media (min-width: $ov--breakpoint--lg) { 
        padding: 0 calc(var(--of--spacer--2xl) + var(--of--spacer--xl)) var(--of--spacer--2xl) calc(var(--of--spacer--2xl) + var(--of--spacer--xl));
    }
    & > .of-heading {
        margin-bottom: var(--of--spacer--md);
        color: var(--of--color-brand--200);
    }
    &__model {
        margin-bottom: var(--of--spacer--xl);
        @media (min-width: $ov--breakpoint--lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        display: grid;
        h4, p {
            padding: 0 var(--of--spacer--sm);
        } 
    }
        width: 100%;
        max-width: 1250px;
        li {
            position: relative;
            margin-bottom: var(--of--spacer--md); 
            @media (min-width: $ov--breakpoint--lg) {
                padding-top: calc(var(--of--spacer--3xl) + var(--of--spacer--sm));
            }
        }
        h3 {
            color: var(--of--color-white--100);
            background: var(--of--color-brand--300);
            min-width: max-content;
            padding: var(--of--spacer--sm);
            display: flex;
            overflow: hidden;
            width: 100%;
            text-transform: capitalize;
            letter-spacing: -1px;
            @media (min-width: $ov--breakpoint--lg) { 
                padding: 0 var(--of--spacer--2xl) 0 var(--of--spacer--2xl) ;
                position: absolute;
                top: 0;
                span {
                position: relative;
                z-index: 10000;
                width: 100%;
                background: inherit;
                padding: var(--of--spacer--md) 0;
            }
            &:before {
                content:'';
                position: absolute;
                right: 15px;
                z-index: 1000;
                align-self: center;
                border-right: 10px solid var(--of--color-white--100);
                border-bottom: 10px solid var(--of--color-white--100);
                background: inherit;
                width: 70px; 
                height: 70px;
                transform: rotate(-45deg);
            }
            &:after {
                content:'';
                z-index: 1;
                height: 100%;
                top: 0;
                background: inherit;
                position: absolute;
            }
            }
        }
        @media (min-width: $ov--breakpoint--lg) {
        li:not(:first-child) {
            h4, p {
                margin-left: calc(var(--of--spacer--lg) * -1);
            }
            p{
                padding-right: var(--of--spacer--xl);
            }
        }
        li:not(:last-child) {
            h3:after {
                left: 100px;
                width: 150px;
            }
        }
        }
        li:first-child {
            @media (min-width: $ov--breakpoint--lg) {
            p {
                padding-right: var(--of--spacer--2xl);
            }
        }
            h3 {
                background: #6cb1b6;
                &:after {
                    background:#318c96;
                }
            }
        }
        li:nth-child(2) {
            h3 {
                background:#318c96;
                &:after {
                    background:#0e6875;
                }
            }
        }
        li:nth-child(3) {
            h3 {
                background:#0e6875;
                &:after {
                    background:#0a4b53;
                }
            }
        }
        li:nth-child(4) {
            h3 {
                background:#0a4b53;
                &:after {
                    background:#052f35;
                }
            }
        }
        li:last-child {
            h3 {
                background: #052f35;
                &:after {                    
                    right: -5px;
                    width: 40px;
                    background: var(--of--color-white--100);
                }
            }
        }
    }
    h4 {
        text-transform: capitalize;
        margin: var(--of--spacer--md) 0;
    }
    
}

.of-page--faq {
    h3 {
        color: var(--of--color-brand--200);
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        &:not(:first-of-type) {
            margin-top: var(--of--spacer--xl);
            padding-top: var(--of--spacer--xl);
            border-top: 2px solid var(--of--color-white--200);
        }
    }
    & > * {
        margin-bottom: var(--of--spacer--md);
    }
}

.of-page--capabilities {
    .of-capability-content, .of-capability-level__item {
        margin: var(--of--spacer--2xl) 0 var(--of--spacer--sm) ;
        padding-bottom: var(--of--spacer--2xl);
    }
}
  
  .of-capability-level__table {
    border: 1px solid var(--of--color-white--200);
    border-collapse: collapse;
    margin: var(--of--spacer--md) 0 var(--of--spacer--xl);
    width: 100%;
    table-layout: fixed;
    &__level-1 {
        th, td::before {
            background: #6cb1b6;
        }
    }
    &__level-2 {
        th, td::before {
            background: #318c96;
        }
    }
    &__level-3 {
        th, td::before {
            background: #0e6875;
        }
    }
    &__level-4 {
        th, td::before {
            background: #0a4b53;
        }
    }
    &__level-5 {
        th, td::before {
            background: #052f35;
        }
    }
       
      @media (min-width: $ov--breakpoint--lg) {
        tr {
            border: 1px solid var(--of--color-white--200);
            td:first-of-type {
                border-right: 2px solid var(--of--color-white--200);
            }
            & > * {
                padding: var(--of--spacer--md);
            }
          }
          
        th {
            padding: var(--of--spacer--md) var(--of--spacer--lg);
            color: var(--of--color-white--100);
            text-transform: uppercase;
            &:first-of-type {
                border-right: 2px solid var(--of--color-white--200);
            }
          }
      }
      @media (max-width: $ov--breakpoint--lg) {
         
          border: 0;
      
         thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        
         tr {
          display: block;
          margin-bottom: .625em;
        }
        
         td {
          display: block;
          margin-bottom: var(--of--spacer--md);
          & > * {
              padding: 0 var(--of--spacer--md);
              vertical-align: top;
          }
        }
        
         td::before {
          content: attr(data-label);
          font-weight: bold;
          text-transform: uppercase;
          display: block;
          margin-bottom: var(--of--spacer--md);
          background: var(--of--color-brand--200);
          color: var(--of--color-white--100);
          padding: var(--of--spacer--sm) var(--of--spacer--md);
        }
        
      }
      a[aria-describedby="footnote-label"] {
        counter-increment: footnotes; /* 1 */
        text-decoration: none; /* 2 */
        color: inherit; /* 2 */
        cursor: default; /* 2 */
        outline: none; /* 2 */
      }
      
    
      a[aria-describedby="footnote-label"]::after {
        content: '[' counter(footnotes) ']'; /* 1 */
        vertical-align: super; /* 2 */
        font-size: 0.5em; /* 3 */
        margin-left: 2px; /* 4 */
        color: var(--of--color-brand--100); /* 5 */
        text-decoration: underline; /* 5 */
        cursor: pointer; /* 5 */
      }
      
    
      a[aria-describedby="footnote-label"]:focus::after {
        outline: thin dotted;
        outline-offset: 2px;
      }
  }
  


 .of-capability-level__table__footnotes {
    counter-reset: footnotes;
  }
  
.of-table-footnotes {
    margin-bottom: var(--of--spacer--lg);
}
  
.td-search-result {
    padding: var(--of--spacer--xl);
    max-width: 100vw;
}
