@import "functions";
@import "variables";
@import "reset";
@import "type";

//components
@import "header";
@import "footer";

//layout
@import "homepage";

//global
@import "global";


// @import "styles_project";