@import "../../themes/docsy/assets/scss/support/functions";
@import "../../themes/docsy/assets/scss/variables";
@import "../../themes/docsy/assets/scss/support/mixins";

@import "../../themes/docsy/assets/vendor/bootstrap/scss/bootstrap";

@import "../../themes/docsy/assets/vendor/Font-Awesome/scss/fontawesome.scss";
@import "../../themes/docsy/assets/vendor/Font-Awesome/scss/solid.scss";
@import "../../themes/docsy/assets/vendor/Font-Awesome/scss/brands.scss";

@import "../../themes/docsy/assets/scss/support/utilities";
@import "../../themes/docsy/assets/scss/colors";
@import "../../themes/docsy/assets/scss/boxes";
@import "../../themes/docsy/assets/scss/blog";
@import "../../themes/docsy/assets/scss/code";
@import "../../themes/docsy/assets/scss/nav";
@import "../../themes/docsy/assets/scss/sidebar-tree";
@import "../../themes/docsy/assets/scss/sidebar-toc";
@import "../../themes/docsy/assets/scss/buttons";
@import "../../themes/docsy/assets/scss/breadcrumb";
@import "../../themes/docsy/assets/scss/alerts";
@import "../../themes/docsy/assets/scss/content";
@import "../../themes/docsy/assets/scss/search";
@import "../../themes/docsy/assets/scss/main-container";
@import "../../themes/docsy/assets/scss/blocks/blocks";
@import "../../themes/docsy/assets/scss/section-index";
@import "../../themes/docsy/assets/scss/pageinfo";

@if $td-enable-google-fonts {
    @import url($web-font-path);
}

footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;
    }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}


@import "functions";
@import "variables";
@import "reset";
@import "type";

//components
@import "header";
@import "footer";

//layout
@import "homepage";
@import "docs";

//global
@import "global";


