{{ $links := .Site.Params.links }}
<footer class="of-footer-main">
  <div class="of-footer-main__meta">
    <img src="/build/images/logo.svg" alt="">
    <p class="of-footer-main__meta__text">The Operator Framework is an open source toolkit to manage Kubernetes native applications, called Operators, in an effective, automated, and scalable way.</p>
    <ul class="of-link-list of-link-list--secondary">
      <li class="of-link-list__li"><a class="of-link-list__a" href="https://github.com/operator-framework">Operator Framework</a></li>
      <li class="of-link-list__li"><a class="of-link-list__a" href="https://github.com/operator-framework/operator-lifecycle-manager">Operator Lifecycle Manager</a></li>
      <li class="of-link-list__li"><a class="of-link-list__a" class="of-link of-link--external" href="https://operatorhub.io/">OperatorHub</a></li>
    </ul>
  </div>
  <div class="of-footer-main__social">
    <h4 class="of-heading of-heading--sm">Connect with us!</h4>
      {{ with $links }}
        {{ with index . "social"}}
        {{ template "footer-links-block"  . }}
      {{ end }}
    {{ end }}
  </div>
  <div class="of-footer-main__copyright">
    <p>Copyright &copy; 2020</p>
    <a class="of-footer-main__badge" href="https://www.netlify.com">
      <img src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg" alt="Deploys by Netlify" />
    </a>
  </div>
</footer>
</body>
</html>
{{ define "footer-links-block" }}
    <ul class="of-link-list">
      {{ range . }}
        <li class="of-link-list__li">
          <a class="of-link-list__a" href="{{ .url }}" aria-label="{{ .name }}">
            <i class="{{ .icon }}"></i>
          </a>
        </li>
      {{ end }}
</ul>
{{ end }}
