<header class="of-header-main">
    <a href="/" class="of-brand">
      <picture class="of-brand__picture">
        <source srcset="/build/images/logo.svg" media="(min-width: 992px)">
        <img src="/build/images/logo-sm.svg" alt="">
      </picture>
        </a>
    <nav class="of-nav-main nav-collapse">
      <ul class="of-nav-main__items menu-items">
        <li class="of-nav-main__item"><a class="of-link-list__a {{ if eq .URL "/" }} of-m-active {{end}}" href="/">Home</a></li>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="of-nav-main__item"><a class="of-link-list__a{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} of-m-active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
        {{ end }}
        {{ if  .Site.Params.versions }}
        <li class="of-nav-main__item">
        {{ partial "navbar-version-selector.html" . }}
        </li>
        {{ end }}
      </ul>
    </nav>
    <div class="of-header-main__search">
		{{ partial "search-input.html" . }}
    </div>
  </header>
