name: helm
on:
  pull_request: {}

jobs:
  check_docs_only:
    name: check_docs_only
    runs-on: ubuntu-22.04
    outputs:
      skip: ${{ steps.check_docs_only.outputs.skip }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: check_docs_only
        # Since PR's are squashed prior to merging to the branch checked out (default branch),
        # HEAD^ will resolve to the previous point in history.
        run: |
          REF="HEAD^"
          [[ -z "${{ github.base_ref }}" ]] || REF=$(git show-ref ${{ github.base_ref }} | head -1 | cut -d' ' -f2)
          echo "::set-output name=skip::$(.github/workflows/check-docs-only.sh $REF)"

  e2e:
    name: e2e
    runs-on: ubuntu-22.04
    needs: check_docs_only
    if: needs.check_docs_only.outputs.skip != 'true'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: sudo rm -rf /usr/local/bin/kustomize
      - run: make test-e2e-helm
